<!DOCTYPE html>
<html>
<head>
  <title>TestingDemo</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
	<div id="content">
  		<ul class="nav">
    		<%= render 'shared/navigation' %>
  		</ul>
  	<div class = "notice">
  	<%- flash.each do |name, msg| -%>
    	<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  	<%- end -%>
	</div>
<%= yield %>
  </div>
</body>
</html>
